body {
  margin: 0;
  overflow: hidden;
  background: skyblue;
}

canvas {
  display: block;
}

/* controles */
.controls {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

button {
  font-size: 30px;
  padding: 20px;
  border-radius: 50%;
  border: none;
  background: rgba(0,0,0,0.5);
  color: white;
}
